.gradle
build
bin

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# NetBeans
nbactions.xml
nb-configuration.xml
nbproject/

# OS
.DS_Store
Thumbs.db

# Local
*.log

build_output.txt
compile_output.txt
comp.txt